<div>
  <input type="text" placeholder="Search for location" autocorrect="off" spellcheck="false" #search>
</div>
<button (click)="onClickStores($event)">Stores!</button>
<button (click)="onClickRestaurants($event)">Restaurants!</button>
<div #gmap>

</div>

<agm-map  [latitude]="currentLatitude" [longitude]="currentLongitude">
  <agm-marker [latitude]="currentLatitude" [longitude]="currentLongitude" [iconUrl]="'../../../assets/map/current_location_temporary.png'" ></agm-marker>
  <agm-marker *ngFor="let marker of arr"
              [latitude]="marker.lat"
              [longitude]="marker.lng">
  </agm-marker>

</agm-map>
