<!--<div class="search-wrapper">-->
  <!--<input type="text" placeholder="Search for location" autocorrect="off" spellcheck="false" #search>-->
<!--</div>-->
<div class="search-buttons-wrapper">
<button class="absolute-button" (click)="onClickPlace('store')" mat-raised-button>Sklepy</button>
<button class="absolute-button" (click)="onClickPlace('restaurant')" mat-raised-button>Restauracje</button>
</div>
<div #gmap>
</div>

<!--<i (click)="dashboardVisible = !dashboardVisible" class="material-icons menu open-dash">menu</i>-->
<div class="dashboard-panel" *ngIf="dashboardVisible" [@animationOption1]>
  <img src="./assets/images/profile.png" alt="">
</div>

<agm-map #agmMap [zoom]="12" [latitude]="currentMapViewLatitude" [longitude]="currentMapViewLongitude"
         (mapDblClick)="addPoiToDatabase($event)"
         [zoomControl]="false" [streetViewControl]="false" (mapClick)="mapClick($event)" [usePanning]="true"
         (boundsChange)="mapBoundsChanged($event)">

  <agm-marker [latitude]="currentLocation ? currentLocation.lat : ''"
              [longitude]="currentLocation ? currentLocation.lng : ''"
              [iconUrl]="{ url: './assets/map/dot.svg', scaledSize: {'height': 20, 'width': 20}}" [markerClickable]="false" [className]="'current-location'"></agm-marker>

  <agm-marker *ngFor="let poi of (poiList$ | async); let i = index" [latitude]="poi.location.coords.lat"
              [longitude]="poi.location.coords.lng"
              [iconUrl]="{ url: './assets/map/poi.svg', scaledSize: {'height': 40, 'width': 25}}"
              (markerClick)="markerClicked(poi)" >
  </agm-marker>

  <agm-marker *ngFor="let poi of poiPlacesList" [latitude]="poi.lat"
              [longitude]="poi.lng"
              [iconUrl]="{ url: './assets/map/poi_places.svg', scaledSize: {'height': 40, 'width': 25}}"
              (markerClick)="markerClicked(poi, true)" >
  </agm-marker>

  <agm-direction [origin]="currentLocation ? currentLocation : ''" [destination]="destination ? destination : ''">
  </agm-direction>

</agm-map>


<div class="info-wrapper" *ngIf="markerIsClicked" [@animationOption2]>
  <div class="wrapped-info">
    <i (click)="markerIsClicked = false" class="material-icons close">close</i>
    <div *ngIf="wrapperMarkerInfo">
      <p class="title">
        <span class="title-wrapper">{{wrapperMarkerInfo.name}} </span>
        <span class="route" (click)="getRoute(wrapperMarkerInfo)"><img src="./assets/icons/get-route.png" alt="">Wyznacz trasę</span>
      </p>
      <ul class="icons-wrapper">
        <li *ngFor="let disability of wrapperMarkerInfo.disabilityAccess" [ngClass]="{'checked': disability.checked}" >
          <img (click)="disability.checked = !disability.checked; updatePoi(wrapperMarkerInfo)" class="disability-icon" src="./assets/disabilities/{{disability.name}}.png" alt="">
        </li>
      </ul>
      <div class="buttons-wrapper">
        <!--<button class="get-route" (click)="getRoute(wrapperMarkerInfo)" mat-raised-button>Wyznacz trasę</button>-->
        <!--<button class="get-route" (click)="getRoute(wrapperMarkerInfo)" mat-raised-button>Dodaj opinię</button>-->
      </div>
      <!--<form [formGroup]="form">-->
      <!--<div *ngFor="let disabilitity of disabilities.controls; let i=index">-->
      <!--<input id="disabilitity{{i}}" type="checkbox" [formControl]="disabilitity"/>-->
      <!--<label for="disabilitity{{i}}">{{wrapperMarkerInfo.disabilityAccess[i].name}}</label>-->
      <!--</div>-->
      <!--</form>-->
      <!--<span (click)="updatePoi(wrapperMarkerInfo)">Zaktualizuj</span>-->
    </div>
  </div>
</div>
